<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos | CRM</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header class="Header">
    <h1>PROJETO CRM</h1>
    <h2>CADASTRO DE PRODUTOS</h2>
</header>

<nav class="nav">
    <ul>
        <li><a th:href="@{/home}">HOME</a></li>
        <li><a th:href="@{/clienteDados/cliente}">CLIENTES</a></li>
        <li><a th:href="@{/produtoDados/produto}">PRODUTOS</a></li>
    </ul>
</nav>

</body>
</html>